<ul> <%= cart.each do |product| %>
    <p><li><%= product %></li></p>
  <% end %>
</ul>

<%= form_tag ({action: 'add',
    method: 'post'}) do %>
    <input name= product>
    <input type= submit value='add to cart'>
<% end %>